body {
    margin: 0;
}

/* TIPOS DE LETRA */
.menu {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu:hover {
    color: #FFFF00;
}

.miniatura {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.normal {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.titulo2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.texto-imagen h1 {
    font-family: 'Romanesco', cursive;
    font-size: 96px;
    font-weight: normal;
    margin-bottom: 10px;
}

/* BOTONES */
.boton-reservar {
    display: flex;
    align-items: center;
    border-radius: 35px;
    background-color: #A3A656;
    font-weight: bold;
    height: 50px;
    width: 155px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    justify-content: center;
    cursor: pointer;
}

.boton-reservar:hover {
    background-color: #384001;
}

.boton-condiciones {
    display: flex;
    align-items: center;
    border-radius: 35px;
    background-color: #A3A656;
    font-weight: bold;
    height: 60px;
    width: 300px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    justify-content: center;
    margin-bottom: 25px;
    cursor: pointer;
}

.boton-condiciones:hover {
    background-color: #384001;
}

/* Franja superior */
.header {
    height: 70px;
    background-color: #A3A656;
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
    padding: 0px 70px;
}

.info ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.info ul li {
    display: inline;
    padding: 0px 10px;
}

.info ul li a {
    text-decoration: none;
    color: #000;
}

.logos {
    display: flex;
    align-items: center;
}

.cuenta {
    display: flex;
    align-items: center;
    padding: 0px 30px;
}

.idioma {
    display: flex;
    align-items: center;
}

.triangulo {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.logos span {
    padding: 0px 10px;
}

/* Imagen SPA */
.main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.imgSPA {
    position: relative;
    width: 100%;
    height: auto;
}

.imgSPA img {
    display: block;
    width: 100%;
    height: auto;
}

.texto-imagen {
    position: absolute;
    top: 10%; 
    left: 10%;
    text-align: left;
}

/* Franja del medio */
.citas {
    background-color: #F2F6F6;
    height: 100px;
    display: flex;
    justify-content: center;
}

.reservar {
    display: flex;
    align-items: center;
}

.reservar div {
    background-color: #FFFFFF;
    height: 60px;
    width: 275px;
    border-radius: 15px;
    margin: 0px 30px;
}

.codigo {
    display: flex;
    align-items: center;
}

.codigo div {
    background-color: #FFFFFF;
    height: 60px;
    width: 200px;
    border-radius: 15px;
    margin: 0px 20px;
    color: #9E9A9A;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

/* Masajes */
.masajes {
    padding: 100px 0 75px 0;
    display: flex;
    justify-content: center;
}

.titulosMasajes {
    background-color: #A3A656;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.informacion {
    display: flex;
    justify-content: space-between;
}

.precio {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    padding: 0px 0px 0px 13px;
}

.descripcion {
    margin-top: 20px;
    margin-bottom: 30px;
}

.pies {
    margin: 0px 134px 0px 100px;
    height: 100%;
    width: 700px;
}

.pies img {
    display: block;
    width: 100%;
    height: 100%;
}

.relajante {
    margin: 0px 134px 0px 0px;
    height: 100%;
    width: 700px;
}

.relajante img {
    display: block;
    width: 100%;
    height: 100%;
}

.bambu {
    margin: 0px 100px 0px 0px;
    height: 100%;
    width: 700px;
}

.bambu img {
    display: block;
    width: 100%;
    height: 100%;
}

/* Planes */
.planes {
    background-color: #F2F6F6;
    height: 770px;
}

.tituloSocio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 70px 0px;
}

.cajaGPP {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.titulosPlanes {
    display: flex;
    justify-content: center;
    margin: 5px 0px 35px 0px;
}

.cajaPlan {
    margin: 0px 100px;
    text-align: center;
}

.contenedor-planes {
    display: inline-block;
}

.circulo {
    width: 233px;
    height: 233px;
    border: 11px solid #384001;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.infoPlanes {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.infoPlanes ul {
    margin: 0px;
    padding: 0px;
    min-height: 90px;
}

.infoPlanes ul li {
    padding: 3px 0px;
}

.infoPlanesPremium {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.infoPlanesPremium ul {
    margin: 0px;
    padding: 0px;
    min-height: 90px;
}

.infoPlanesPremium ul li {
    padding: 7px 0px;
}

/* Franja inferior */ 
.final {
    background-color: #384001;
    height: 97px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 0px;
}

.infoFinal {
    display: flex;
    align-items: center;
    padding: 0px 70px;
}

.infoFinal ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.infoFinal ul li {
    display: inline;
    padding: 0px 70px 0px 0px;
}

.infoFinal ul li a {
    text-decoration: none;
    color: #A3A656;
}

.siguenos span {
    color: #A3A656;
    padding: 0px 7px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.redes {
    display: flex;
    align-items: center;
}

.logoRedes {
    padding: 0px 20px;
}